.header-container{
    z-index: 0;
    height: 15vh;
    width: 100vw;
    background-image: url("../../../../public/images/backgroundmin.png");
    background-repeat: no-repeat;
    font-size: 1.8em;
    font-family: $roboto;
    color: antiquewhite;
    text-align: center;
    .title{
        padding-top: 2.2vh;
    }
    .under-title{
        padding-top: 1vh;
        font-size: 0.8em;
        font-style: italic;
    }
}
#burger-button{
    z-index: 1;
    position: absolute;
    top: 15vh;
    height: 6.5vh;
    width: 11vw;
    background-color: black;
    border-radius: 100%;
    padding-top: 1.7vh;
    padding-left: 4vw;
    margin-left: 3vw;
    #lign-1, #lign-2, #lign-3 {
        height: 10%;
        width: 60%;
        background-color: rgb(0, 255, 85);
        margin-top: 10%;
    }
}
.burger-button-moved{
    transform: translateX(50vw);
}
.navigation{
    position: absolute;
    top:15vh;
    height: 85vh;
    width: 50vw;
    color: black;
    background-color: whitesmoke;
    font-family: $menufont;
    font-size: 2em;
    transform: translateX(-50vw);
    ul{
        text-align: center;
        li{
            margin-top: 20%;
            a{
                text-decoration: none;
                color: rgba(24, 3, 3, 0.938);

            }
        }
    }
}
.navigation-moved{
    z-index: 1;
    transform: translateX(0);
}
.sp-container{
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 85vh;
    background-image: linear-gradient(180deg, black 0%, transparent 100%), url("../../../../public/images/backgroundmin.png");
    background-size: cover;
    .sp-content{
        z-index: inherit;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        h2{
            z-index: inherit;
            width:100%;
            height: 4vh;
            position: absolute;
            top: 25%;
            line-height: 18vh;
            margin-top: -3vh;
            font-size: 3em;
            text-align: center;
            color: transparent;
            animation: blurFadeInOut 3s ease-in backwards;
        }
        .frame-1{
            animation-delay: 0s;
        }
        .frame-2{
            animation-delay: 3s;
        }
        .frame-3{
            animation-delay: 6s;
        }
        .frame-4{
            animation-delay: 9s
        }
        .frame-5{
            top: 20%;
            animation: none;
            text-shadow: 0 0 1px #fff;
            span{
                animation: blurFadeIn 3s ease-in 12s backwards;
                color: transparent;
                text-shadow: 0 0 1px #fff;
                &:nth-child(2){
                    animation-delay: 13s;
                }
                &:nth-child(3){
                    animation-delay: 14s;
                }
            }
        }
        .sp-globe{
            z-index: inherit;
            position: absolute; 
            width: 282px;
            height: 273px;
            left: 50%;
            top: 50%;
            margin: -173px 0 0 -141px;
            animation: fadeInBack 3.6s linear 14s backwards;
            filter: alpha(opacity=30);
            opacity: 0.3;
            transform: scale(5);
        }
        .sp-circle-link{
            z-index: inherit;
            position: absolute;
            left: 50%;
            top: 60vh;
            bottom: 100px;
            margin-left: -50px;
            margin-top: 10vh;
            text-align: center;
            line-height: 10vh;
            width: 20vw;
            height: 11.5vh;
            background: #fff; 
            color: #3f1616;
            font-size: 2em;
            border-radius: 50%;
            animation: fadeInRotate 1s linear 16s backwards;
            transform: scale(1) rotate(0deg);
        }
    }
}