$headerMenu: #333331;
$headerTitle: #E8E3D3;
$roboto: "Roboto Mono";
$headerBack: #1E1E1F;
$menufont: "Gugi";
$fontColor: #83D6CC;
$folioButton: #A89B95;
@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0 0 40px #fff ;
        transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0 0 1px #fff ;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0 0 50px #fff ;
        transform: scale(0);
    }
}
@keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0 0 40px #fff ;
        transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0 0 10px #fff ;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 1px #fff ;
        trasform: scale(1);
    }
}
@keyframes fadeInBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.4;
        transform: scale(2);
    }
    100% {
        opacity: 0.2;
        transform: scale(5);
    }
}
@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}